---
layout: default
---

<div class="home">

  <header class="home__about">
    <div id="avatar" class="home__about-photo">
      <div class="home__about-info"><a href="https://github.com/felixhammerl">{% include github.svg %}</a></div>
      <div class="home__about-info"><a href="https://twitter.com/felixhammerl">{% include twitter.svg %}</a></div>
      <div class="home__about-info"><a href="https://infosec.exchange/@felixhammerl">{% include mastodon.svg %}</a></div>
      <div class="home__about-info"><a href="mailto:felix.hammerl@gmail.com">{% include envelope.svg %}</a></div>
      <div class="home__about-info"><a href="https://keys.mailvelope.com/pks/lookup?op=get&search=felix.hammerl@gmail.com">{% include key.svg %}</a></div>
    </div>
  </header>

  <div class="home__list">
    {% for post in site.posts %}
      <div class="home__list-entry">
        <div class="home__list-entry-left">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <p class="home__list-entry-left-header">{{ post.title }}</p>
            <p class="home__list-entry-left-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          </a>
        </div>
        <div class="home__list-entry-right">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <p class="home__list-entry-right-excerpt">{{ post.excerpt | strip_html }} ...</p>
            <p class="home__list-entry-right-link">&gt;&gt; Read more ...</p>
          </a>
        </div>
      </div>
      <hr>
    {% endfor %}
  </ul>
</div>
