@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/PlayfairDisplay-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/PlayfairDisplay-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/PlayfairDisplay-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/fonts/PlayfairDisplay-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: url(/assets/fonts/PlayfairDisplay-Black.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  src: url(/assets/fonts/PlayfairDisplay-BlackItalic.woff) format('woff');
}

@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/CutiveMono-Regular.woff) format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url(/'assets/fonts/SourceCodePro-Regular.ttf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url(/'assets/fonts/SourceCodePro-It.ttf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url(/'assets/fonts/SourceCodePro-Bold.ttf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url(/'assets/fonts/SourceCodePro-BoldIt.ttf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url(/'assets/fonts/SourceCodePro-Black.ttf.woff') format('woff');
}

@font-face{
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url(/'assets/fonts/SourceCodePro-BlackIt.ttf.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-LightItalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

